.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 400px;
  color: black;
  height: auto;
}

.display{
    background-color: #111827;
    color: #f9fafb;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    height: 100px;
    border-radius: 4px;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px 0;
}

.btn{
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #111827;
    border: 1px solid #8b8b8b;
    border-radius: 6px;
    cursor: pointer;
    height: 50px;
    justify-content: center;
}

.btn.division,
.btn.addition,
.btn.multiplication,
.btn.substraction{
    background: #e5e7eb;
    color: #111827;
}

.btn.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn.equal{
    background-color: #2563eb;
    color: #fff;
    grid-column-start: 3;
    grid-column-end: 5;
}

.btn.delete{
    background: #cbd5e1;
}

.btn.clear{
    background: #f87171;
    
}