*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family:
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: #f3f4f6;
  color: white;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

:root {
  --fs-h1: 24px;
  --fs-h2: 20px;
  --fs-h3: 18px;
  --fs-h4: 16px;
  --fs-body: 15px;
  --fs-button: 15px;
  --fs-input: 16px;
  --fs-small: 13px;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}
h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi-bold);
}
h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semi-bold);
}
h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semi-bold);
}

p,
body {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

button {
  font-size: var(--fs-button);
  font-weight: var(--fw-medium);
}

input {
  font-size: var(--fs-input);
  font-weight: var(--fw-regular);
}

small {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
}
